#proyectos{
    margin-top: 7rem;
    position: relative;
}

.portafolio{
    margin-top: 5rem;
}

.completa{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;
}

.media{
    margin-top: 1rem;
    margin-bottom: 1rem;
}